.DropDownButton {
    float: left;
    width: 40px;
    height: 40px;
    top: 8px;
    left: 20px;
    position: relative;
    color: black;
}

.DropDownButton:hover {
    border-radius: 50%;
    background-color: lightgray;
}

span.UserMenu {
    display: inline-block;
    font-size: 30px;
    user-select: none;
}