input[type="search"] {
    float: right;
    border-radius: 20px;
    border-color: lightgray;
    background: url("../Assets/searchIcon.png") no-repeat left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5%;
    text-align: center;
    width: 70%;
    height: 40px;
    top: 8px;
    right: 12%;
    position: relative;
}